@model ProductsListViewModel

<div class="flex flex-col">
    <div class="grid gap-4 grid-cols-3 m-3">
        @foreach (var product in Model?.Products ?? Enumerable.Empty<Product>()) {
            <partial name="ProductSummary" model="product" />
        }
    </div>

    <div class="p-4">
        <div page-model="@Model?.PagingInfo" page-action="Index"></div>
    </div>

</div>
